@import url('https://fonts.googleapis.com/css?family=Bitter');

.form-style-10 {
    width: 90%;
    max-width: 600px;
    padding: 30px;
    margin: 40px auto;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.form-style-10 h1 {
    background: #2A88AD;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
}

.form-style-10 .inner-wrap {
    padding: 20px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
}

.form-style-10 .section {
    font: normal 20px 'Bitter', serif;
    color: #2A88AD;
    margin-bottom: 5px;
}

.add-btn {
    background: #2A88AD;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    display: block;
    margin: 10px auto;
}

.add-btn:hover {
    background: #257C9E;
}

.button-section {
    text-align: center;
    margin-top: 20px;
}

.button-section input {
    background: #2A88AD;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font: normal 18px 'Bitter', serif;
    border: 1px solid #257C9E;
    cursor: pointer;
}

.button-section input:hover {
    background: #2A6881;
}
